@font-face {
    font-family: Futura;
    src: url(../fonts/Futura_Book_font.ttf);
}

.button {
    font-family:Futura;
    background-color: #db5046;
    border: none;
    color: white;
    width: 150px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #ad342b;
    color: white;
}

.footer {
   font-family:Futura;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #97c05a;
   color: white;
   text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #ededed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index:999;
}

.topmarginfirst {
margin-top: 250px;
}

.topmarginlist {
margin-top: 150px;
}

.topmarginhomepagebutton {
margin-top: 50px;
}

.row {
  display: flex;
}

.column {
  flex: 33%;
  padding: 5px;
}

.navhead {
  font-family:Futura;
  font-size: 30px;
  color:black;
}

.btn-group button {
    font-family:Futura;
    font-size: 18px;
    text-align: center;
    margin: auto;
    background-color: #bababa; /* Green background */
    color: black; /* White text */
    padding: 20px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 70%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin-bottom: 5px;
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #9b9b9b;
}

.body {
    overflow: scroll;
    margin-bottom: 150px;
}

* {
    font-family: Futura;
  }


/* Form attributes */
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=integer], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* Form attributes end */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.center {
    margin: auto;
    width: 60%;
}

ul {
  list-style: none;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid #ededed;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: centre;
}
table#contracts_table tr:nth-child(even) {
    background-color: #fff;
}
table#contracts_table tr:nth-child(odd) {
   background-color: #d8d8d8;
}
table#contracts_table th {
    background-color: #7a7a7a;
    color: white;}

table#permits_table tr:nth-child(even) {
    background-color: #fff;
}
table#permits_table tr:nth-child(odd) {
   background-color: #d8d8d8;
}
table#permits_table th {
    background-color: #7a7a7a;
    color: white;}

.mySlides {display:none;}

.cargo {
  position : absolute;
  top:0px;
  left:0px;
}